code/node-red/SleepDashboard.json
[{"id":"c57c0cd6.65f56","type":"tab","label":"SleepDashboard","disabled":false,"info":""},{"id":"e1b5af04.993ed","type":"inject","z":"c57c0cd6.65f56","name":"SleepScore-debug","topic":"sleepscore","payload":"{\"sleepscore\": 80}","payloadType":"json","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["a34bcf11.c0cab","6e33332f.3220dc"]]},{"id":"eae717b4.6c93f8","type":"ui_template","z":"c57c0cd6.65f56","group":"3035ae58.a3fd32","name":"RecommendationOutput","order":1,"width":"12","height":"6","format":"<style>\n    .recommendation {\n        font-size: 1.25em;\n    }\n    ul {\n        padding-left: 1em;\n        list-style:none;\n    }\n    .recommendation-icon{\n        padding-right: 1em;\n    }\n</style>\n\n<ul>\n<div class=\"recommendation\" ng-repeat=\"recommendation in msg.payload.recommendations\">\n    <li><ng-md-icon class=\"recommendation-icon\" icon=\"announcement\"></ng-md-icon>{{recommendation.msg}}</li>    \n</div>\n</ul>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":140,"wires":[[]]},{"id":"8868916.3ed8d7","type":"inject","z":"c57c0cd6.65f56","name":"","topic":"recomendations","payload":"{\"recommendations\":{\"recommendation1\":{\"msg\":\"Turn down the temperature to 16 C\"},\"recommendation2\":{\"msg\":\"The room has the correct level of brightness\"}}}","payloadType":"json","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["eae717b4.6c93f8","d7179bbb.213268","32db705f.b8e55"]]},{"id":"d7179bbb.213268","type":"debug","z":"c57c0cd6.65f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.recommendations.recommendation1.msg","targetType":"msg","x":520,"y":180,"wires":[]},{"id":"810d8539.879598","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"b8415399.bdbce","order":1,"width":12,"height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":240,"wires":[[]]},{"id":"158eff0c.4221f1","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"719e4c65.7542e4","order":1,"width":12,"height":"6","label":"Other Factors","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":300,"wires":[[]]},{"id":"a34bcf11.c0cab","type":"ui_template","z":"c57c0cd6.65f56","group":"78a1ff82.27ab9","name":"Last Night","order":1,"width":"12","height":"6","format":"<style>\n    .main-stat {\n        font-size: 10em;\n        text-align: center;\n    }\n    .main-stat-icon{\n        padding-right: 1em;\n    }\n</style>\n\n<div class=\"main-stat\" >\n    {{msg.payload.sleepscore}}\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":380,"y":40,"wires":[[]]},{"id":"6e33332f.3220dc","type":"debug","z":"c57c0cd6.65f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":80,"wires":[]},{"id":"2651cdf9.64c162","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"a77ad25.3cd5e3","order":0,"width":"6","height":"5","label":"Last Week","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":360,"wires":[[]]},{"id":"8715380.32843c8","type":"ui_template","z":"c57c0cd6.65f56","group":"18b57aa.ca12f85","name":"","order":1,"width":24,"height":1,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":380,"y":420,"wires":[[]]},{"id":"32db705f.b8e55","type":"function","z":"c57c0cd6.65f56","name":"OtherFactors","func":"var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = Math.round(Math.random() * 100);\nmsg1.topic = 'Humidity'\n\nmsg2.payload = Math.round(Math.random() * 100);\nmsg2.topic = 'Brightness'\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":210,"y":300,"wires":[["158eff0c.4221f1"],["158eff0c.4221f1"]]},{"id":"3035ae58.a3fd32","type":"ui_group","z":"","name":"Recommendation","tab":"23ef4302.a0e97c","order":3,"disp":true,"width":12,"collapse":false},{"id":"b8415399.bdbce","type":"ui_group","z":"","name":"Temperature","tab":"6f60a478.b6482c","order":1,"disp":false,"width":"12","collapse":false},{"id":"719e4c65.7542e4","type":"ui_group","z":"","name":"Other Factors","tab":"6f60a478.b6482c","order":2,"disp":false,"width":"12","collapse":false},{"id":"78a1ff82.27ab9","type":"ui_group","z":"","name":"Sleep Score","tab":"23ef4302.a0e97c","order":1,"disp":true,"width":12,"collapse":false},{"id":"a77ad25.3cd5e3","type":"ui_group","z":"","name":"Last Week","tab":"2f249f02.cb639","order":1,"disp":true,"width":"6","collapse":false},{"id":"18b57aa.ca12f85","type":"ui_group","z":"","name":"FAQ","tab":"ebe1df4.dadf32","order":1,"disp":true,"width":24,"collapse":false},{"id":"23ef4302.a0e97c","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"6f60a478.b6482c","type":"ui_tab","z":"","name":"Environment","icon":"brightness_medium","order":2,"disabled":false,"hidden":false},{"id":"2f249f02.cb639","type":"ui_tab","z":"","name":"Sleep History","icon":"timeline","order":3,"disabled":false,"hidden":false},{"id":"ebe1df4.dadf32","type":"ui_tab","z":"","name":"Help","icon":"help","order":4,"disabled":false,"hidden":false}]