code/node-red/SleepDashboard.json
[{"id":"c57c0cd6.65f56","type":"tab","label":"SleepDashboard","disabled":false,"info":""},{"id":"eae717b4.6c93f8","type":"ui_template","z":"c57c0cd6.65f56","group":"3035ae58.a3fd32","name":"RecommendationOutput","order":1,"width":"12","height":"6","format":"<style>\n    .recommendation {\n        font-size: 1.25em;\n    }\n    ul {\n        padding-left: 1em;\n        list-style:none;\n    }\n    .recommendation-icon{\n        padding-right: 1em;\n    }\n</style>\n\n<ul>\n<div class=\"recommendation\" ng-repeat=\"recommendation in msg.payload.recommendations\">\n    <li><ng-md-icon class=\"recommendation-icon\" icon=\"announcement\"></ng-md-icon>{{recommendation.msg}}</li>    \n</div>\n</ul>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":430,"y":100,"wires":[[]]},{"id":"8868916.3ed8d7","type":"inject","z":"c57c0cd6.65f56","name":"","topic":"recomendations","payload":"{\"recommendations\":{\"recommendation1\":{\"msg\":\"Turn down the temperature to 16 C\"},\"recommendation2\":{\"msg\":\"The room has the correct level of brightness\"}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["eae717b4.6c93f8","d7179bbb.213268"]]},{"id":"d7179bbb.213268","type":"debug","z":"c57c0cd6.65f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.recommendations.recommendation1.msg","targetType":"msg","x":520,"y":140,"wires":[]},{"id":"2651cdf9.64c162","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"a77ad25.3cd5e3","order":7,"width":20,"height":8,"label":"","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"0","ymax":"10","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":700,"wires":[[]]},{"id":"8715380.32843c8","type":"ui_template","z":"c57c0cd6.65f56","group":"18b57aa.ca12f85","name":"FAQ","order":1,"width":24,"height":1,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":740,"wires":[[]]},{"id":"6b2aafb4.1787f","type":"ui_button","z":"c57c0cd6.65f56","name":"","group":"a77ad25.3cd5e3","order":2,"width":7,"height":1,"passthru":false,"label":"1W","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":580,"wires":[["96c9dab3.b9d508"]]},{"id":"dea6a326.5a01","type":"ui_button","z":"c57c0cd6.65f56","name":"","group":"a77ad25.3cd5e3","order":3,"width":7,"height":1,"passthru":false,"label":"1M","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":620,"wires":[["b55e6f96.1f45c"]]},{"id":"e4a07d6a.f5628","type":"ui_button","z":"c57c0cd6.65f56","name":"","group":"a77ad25.3cd5e3","order":4,"width":7,"height":1,"passthru":false,"label":"3M","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":660,"wires":[["89004a9a.7d09b8"]]},{"id":"51b48fce.9091e","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"369b3786.007d18","order":1,"width":12,"height":6,"label":"Motion","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":380,"wires":[[]]},{"id":"79ea0b93.86e3b4","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"dbd5cc64.49fbd","order":1,"width":12,"height":6,"label":"Air Quality","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":420,"wires":[[]]},{"id":"bb095f2b.f8822","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"27b73a92.31c7f6","order":1,"width":12,"height":6,"label":"Noise","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":460,"wires":[[]]},{"id":"25a95502.ff55ea","type":"ui_slider","z":"c57c0cd6.65f56","name":"Score","label":"Sleep Quality Scale","tooltip":"","group":"78a1ff82.27ab9","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"sleepscore","min":0,"max":10,"step":1,"x":190,"y":20,"wires":[["d647ecf2.b175a","7a4cae89.4f55d"]]},{"id":"46a551dd.3a1bf","type":"inject","z":"c57c0cd6.65f56","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"2","x":110,"y":380,"wires":[["16173320.dd578d","96c9dab3.b9d508","47049cbc.a36024"]]},{"id":"16173320.dd578d","type":"function","z":"c57c0cd6.65f56","name":"Last 24H","func":"var today = msg.payload;\n//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nmsg.payload = (today - (1000*60*60*24)) ;\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":200,"wires":[["b4ccfbc9.dc8748"]]},{"id":"b4ccfbc9.dc8748","type":"template","z":"c57c0cd6.65f56","name":"Select Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT SleepDataEpoch*1000 AS SleepDataEpoch,SleepDataTemp,SleepDataHumid,SleepDataBright,SleepDataNoise,SleepDataMotion,SleepDataAir FROM SleepData WHERE SleepDataHumid < 1000","output":"str","x":330,"y":200,"wires":[["1d2593ac.ba431c"]]},{"id":"1d2593ac.ba431c","type":"mysql","z":"c57c0cd6.65f56","mydb":"23d2b378.2f7adc","name":"AWS Database","x":280,"y":280,"wires":[["43bbdf04.cf68c","10376237.4314be","73ea324.78af0cc","f865dbc5.55dbe8","858b3b0.0eb3dc8","a9186405.2d3ac8","f0efc90c.6be898"]]},{"id":"43bbdf04.cf68c","type":"change","z":"c57c0cd6.65f56","name":"Format Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepDataTemp\";\t$xaxis := \"SleepDataEpoch\";\t[{\"series\": [\"Temperature\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Temperature\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":260,"wires":[["810d8539.879598"]]},{"id":"10376237.4314be","type":"change","z":"c57c0cd6.65f56","name":"Format Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepDataHumid\";\t$xaxis := \"SleepDataEpoch\";\t[{\"series\": [\"Humidity\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Humidity\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["6c4fb291.ad12ac"]]},{"id":"158eff0c.4221f1","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"719e4c65.7542e4","order":1,"width":12,"height":6,"label":"Brightness","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":830,"y":300,"wires":[[]]},{"id":"f0efc90c.6be898","type":"debug","z":"c57c0cd6.65f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[1]","targetType":"msg","x":880,"y":560,"wires":[]},{"id":"810d8539.879598","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"b8415399.bdbce","order":1,"width":12,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":260,"wires":[[]],"inputLabels":["msg.payload.Temp"]},{"id":"6c4fb291.ad12ac","type":"ui_chart","z":"c57c0cd6.65f56","name":"","group":"6e39089d.0f82a8","order":1,"width":12,"height":6,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"No available data yet","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":820,"y":340,"wires":[[]]},{"id":"59a2867a.66bff8","type":"ui_button","z":"c57c0cd6.65f56","name":"","group":"962f6157.ad8a","order":1,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":620,"y":200,"wires":[["158eff0c.4221f1","810d8539.879598","6c4fb291.ad12ac","51b48fce.9091e","79ea0b93.86e3b4","bb095f2b.f8822"]]},{"id":"73ea324.78af0cc","type":"change","z":"c57c0cd6.65f56","name":"Format Motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepDataMotion\";\t$xaxis := \"SleepDataEpoch\";\t[{\"series\": [\"Motion\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Motion\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["51b48fce.9091e"]]},{"id":"f865dbc5.55dbe8","type":"change","z":"c57c0cd6.65f56","name":"Format Air Quality","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepDataAir\";\t$xaxis := \"SleepDataEpoch\";\t[{\"series\": [\"Air Quality\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Air Quality\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[["79ea0b93.86e3b4"]]},{"id":"858b3b0.0eb3dc8","type":"change","z":"c57c0cd6.65f56","name":"Format Noise","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepDataNoise\";\t$xaxis := \"SleepDataEpoch\";\t[{\"series\": [\"Noise Level\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Noise Level\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":460,"wires":[["bb095f2b.f8822"]]},{"id":"a9186405.2d3ac8","type":"change","z":"c57c0cd6.65f56","name":"Format Brightness","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepDataBright\";\t$xaxis := \"SleepDataEpoch\";\t[{\"series\": [\"Brightness\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Brightness\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":489,"y":298,"wires":[["158eff0c.4221f1"]]},{"id":"aa604dd5.e9d9b","type":"ui_button","z":"c57c0cd6.65f56","name":"","group":"a77ad25.3cd5e3","order":25,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":680,"y":540,"wires":[["2651cdf9.64c162"]]},{"id":"f793d1c.43ff73","type":"change","z":"c57c0cd6.65f56","name":"Format Sleep Score","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$yaxis := \"SleepScore\";\t$xaxis := \"DateEpoch\";\t[{\"series\": [\"SleepScore\"], \t    \"data\": \t    [[($$.payload.{\"x\": $lookup($, $xaxis), \"y\": $lookup($, $yaxis)})]],\t    \"labels\": [\"Sleep Score\"]\t}]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":620,"wires":[["2651cdf9.64c162"]]},{"id":"e7dca2ce.575c2","type":"template","z":"c57c0cd6.65f56","name":"Select Sleep Score","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT DateEpoch*1000 AS DateEpoch,SleepScore FROM SleepScore WHERE DateEpoch >= {{payload}}/1000","output":"str","x":490,"y":620,"wires":[["bf41ee9d.03933"]]},{"id":"96c9dab3.b9d508","type":"function","z":"c57c0cd6.65f56","name":"Last 1W","func":"var today = msg.payload;\n//Restrict the query to pull the last 7 days\nmsg.payload = (today - (1000*60*60*24*7)) ;\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["e7dca2ce.575c2"]]},{"id":"b55e6f96.1f45c","type":"function","z":"c57c0cd6.65f56","name":"Last 1M","func":"var today = msg.payload;\n//Restrict the query to pull the last 7 days\nmsg.payload = (today - (1000*60*60*24*30)) ;\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["e7dca2ce.575c2"]]},{"id":"89004a9a.7d09b8","type":"function","z":"c57c0cd6.65f56","name":"Last 3M","func":"var today = msg.payload;\n//Restrict the query to pull the last 7 days\nmsg.payload = (today - (1000*60*60*24*90)) ;\nnode.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":660,"wires":[["e7dca2ce.575c2"]]},{"id":"d647ecf2.b175a","type":"ui_gauge","z":"c57c0cd6.65f56","name":"","group":"78a1ff82.27ab9","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":10,"colors":["#ae0638","#e6e600","#31d085"],"seg1":"","seg2":"","x":370,"y":20,"wires":[]},{"id":"57f665c2.cbf2bc","type":"mysql","z":"c57c0cd6.65f56","mydb":"23d2b378.2f7adc","name":"AWS Database","x":900,"y":20,"wires":[[]]},{"id":"24b54a6c.2af666","type":"ui_button","z":"c57c0cd6.65f56","name":"","group":"78a1ff82.27ab9","order":4,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"save","payload":"sleepscore","payloadType":"flow","topic":"","x":490,"y":20,"wires":[["c447d7eb.5eb718"]]},{"id":"7a4cae89.4f55d","type":"change","z":"c57c0cd6.65f56","name":"","rules":[{"t":"set","p":"sleepscore","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":60,"wires":[[]]},{"id":"c447d7eb.5eb718","type":"template","z":"c57c0cd6.65f56","name":"Insert Update SleepData","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO SleepScore (DateEpoch, DateString,SleepScore) VALUES({{flow.dateEpoch}}, {{flow.dateString}}, {{flow.sleepscore}}) ON DUPLICATE KEY UPDATE SleepScore = {{flow.sleepscore}}","output":"str","x":690,"y":20,"wires":[["57f665c2.cbf2bc"]]},{"id":"91457978.b11388","type":"change","z":"c57c0cd6.65f56","name":"","rules":[{"t":"set","p":"dateString","pt":"flow","to":"payload.datestring","tot":"jsonata"},{"t":"set","p":"dateEpoch","pt":"flow","to":"payload.epoch","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":740,"wires":[[]]},{"id":"47049cbc.a36024","type":"function","z":"c57c0cd6.65f56","name":"getToday","func":"//var todayEpoch = Date.now();\nvar todayDate = new Date(Date.now());\nvar todayString = todayDate.getUTCFullYear() + '-' + (todayDate.getUTCMonth()+1) + '-' + todayDate.getUTCDate()\nvar todayEpoch = Date.UTC(todayDate.getUTCFullYear(),todayDate.getUTCMonth(), todayDate.getUTCDate() ) / 1000;\n\n\n\nmsg.payload = {\"epoch\": todayEpoch, \"datestring\": todayString};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":740,"wires":[["91457978.b11388"]]},{"id":"998140b.6e987c","type":"ui_template","z":"c57c0cd6.65f56","group":"78a1ff82.27ab9","name":"","order":1,"width":"12","height":"2","format":"<div>Please think about the quality of your sleep overall,\nsuch as how many hours of sleep you got, how easily you fell asleep,\nand how refreshing your sleep was.\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":640,"y":80,"wires":[[]]},{"id":"cca1ee76.202db","type":"inject","z":"c57c0cd6.65f56","name":"","topic":"score","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":80,"wires":[["25a95502.ff55ea"]]},{"id":"bf41ee9d.03933","type":"mysql","z":"c57c0cd6.65f56","mydb":"23d2b378.2f7adc","name":"AWS Database","x":680,"y":620,"wires":[["f793d1c.43ff73"]]},{"id":"3035ae58.a3fd32","type":"ui_group","z":"","name":"Recommendation","tab":"23ef4302.a0e97c","order":3,"disp":true,"width":12,"collapse":false},{"id":"a77ad25.3cd5e3","type":"ui_group","z":"","name":"Sleep Score History","tab":"2f249f02.cb639","order":2,"disp":true,"width":"24","collapse":false},{"id":"18b57aa.ca12f85","type":"ui_group","z":"","name":"FAQ","tab":"ebe1df4.dadf32","order":1,"disp":true,"width":24,"collapse":false},{"id":"369b3786.007d18","type":"ui_group","z":"","name":"Motion","tab":"6f60a478.b6482c","order":6,"disp":false,"width":"12","collapse":false},{"id":"dbd5cc64.49fbd","type":"ui_group","z":"","name":"Air Quality","tab":"6f60a478.b6482c","order":5,"disp":false,"width":"12","collapse":false},{"id":"27b73a92.31c7f6","type":"ui_group","z":"","name":"Noise","tab":"6f60a478.b6482c","order":7,"disp":false,"width":"12","collapse":false},{"id":"78a1ff82.27ab9","type":"ui_group","z":"","name":"Sleep Score","tab":"23ef4302.a0e97c","order":1,"disp":true,"width":"12","collapse":false},{"id":"23d2b378.2f7adc","type":"MySQLdatabase","z":"c57c0cd6.65f56","host":"novice-tech.cotmblgcxfwk.ap-southeast-2.rds.amazonaws.com","port":"3306","db":"novicetech","tz":""},{"id":"719e4c65.7542e4","type":"ui_group","z":"","name":"Brightness","tab":"6f60a478.b6482c","order":2,"disp":false,"width":"12","collapse":false},{"id":"b8415399.bdbce","type":"ui_group","z":"","name":"Temperature","tab":"6f60a478.b6482c","order":1,"disp":false,"width":"12","collapse":false},{"id":"6e39089d.0f82a8","type":"ui_group","z":"","name":"Humidity","tab":"6f60a478.b6482c","order":3,"disp":false,"width":"12","collapse":false},{"id":"962f6157.ad8a","type":"ui_group","z":"","name":"Group 7","tab":"6f60a478.b6482c","order":7,"disp":false,"width":"24","collapse":false},{"id":"23ef4302.a0e97c","type":"ui_tab","z":"","name":"Home","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"2f249f02.cb639","type":"ui_tab","z":"","name":"Sleep History","icon":"timeline","order":3,"disabled":false,"hidden":false},{"id":"ebe1df4.dadf32","type":"ui_tab","z":"","name":"Help","icon":"help","order":4,"disabled":false,"hidden":false},{"id":"6f60a478.b6482c","type":"ui_tab","z":"","name":"Environment","icon":"brightness_medium","order":2,"disabled":false,"hidden":false}]